<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="React.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net451" />
  <package id="react-router.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net451" />
  <package id="react-router-redux.TypeScript.DefinitelyTyped" version="0.0.3" targetFramework="net451" />
  <package id="redux.TypeScript.DefinitelyTyped" version="0.0.1" targetFramework="net451" />
  <package id="requirejs.TypeScript.DefinitelyTyped" version="0.4.3" targetFramework="net451" />
</packages>