<link rel="shortcut icon" type="image/x-icon" href="/Content/images/jclitenetIcon.png">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="personal, development, tutorials and blogs website" name="description">
<meta content="Jayson Centeno, personal website, tutorials, blogs" name="keywords">
<meta content="index, follow, NOODP" name="Robots">
<meta name="author" content="Jayson Centeno">
<meta name="revisit-after" content="1 days">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - jclitenet</title>