<div class="topnav">
    <header id="header" class="highlight container-fluid">
        <div id="logo">
            <h1>
                &lt;a&gt;<span>jc</span>litenet<label class="blinking-cursor">_</label>&lt;&frasl;a&gt;
            </h1>
        </div>
    </header>
</div>

<div id="subheader" header-fixed>
    <div class="container">
        <div class="navbar navbar-default">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar" class="subtitle navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Experiences</a></li>
                    <li><a href="#">Skills</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Languages</a></li>
                    <li><a href="#">Certifications</a></li>
                    <li><a href="#">Interests</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<section>

    <div id="summary">

        <div class="background parallax"></div>

        <div class="container">

            <section id="title">
                <h1>Jayson Centeno</h1>
                <h2>Senior Asp.Net Developer</h2>
            </section>

            <section id="profile-summary" class="profile-box bottom-spacer round-corner">

                <div class="profile-wrapper">

                    <div id="pic">
                        <img src="/assets/images/upload/2cbf4fb7e2823ce69b932954b163cf93.png" width="192" height="192" />
                    </div>

                    <div id="info">
                        <span editor-setup="address-editor">Taytay, Philippines | Computer Software</span>
                        <div class="label-group">
                            <span class="caption">Latest:</span>
                            <div class="wrapper">
                                <span>Bigoscorp</span>
                            </div>
                        </div>
                        <div class="label-group">
                            <span class="caption">Previous:</span>
                            <div class="wrapper">
                                <span>Bigoscorp Bigoscorp Bigoscorp Bigoscorp Bigoscorp Bigoscorp Bigoscorp Bigoscorp Bigoscorp</span>
                            </div>
                        </div>
                        <div class="label-group">
                            <span class="caption">Education:</span>
                            <div class="wrapper">
                                <span>Polytechnic University of the Philippines</span>
                            </div>
                        </div>
                        <div class="label-group">
                            <span class="caption">Email:</span>
                            <div class="wrapper">
                                <span editor-title="Edit Email" editor-value="email" editor-setup="email-editor">jaysword1@yahoo.com</span>
                            </div>
                        </div>
                        <div class="label-group">
                            <span class="caption">Contact:</span>
                            <div class="wrapper">
                                <span>+639277950178</span>
                            </div>
                        </div>
                        <div class="label-group">
                            <span class="caption">LinkedIn:</span>
                            <div class="wrapper">
                                <span><a href="javascript:void()">jayson-centeno</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="introduction" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-file-text fa-2x"></i><h3>Introduction</h3>
                <p editor-setup="introduction-editor" editor-value="introduction" editor-title="Edit Introduction">
                    No Value
                </p>
            </section>

            <section id="education" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-graduation-cap fa-2x"></i>
                <h3>Education</h3>
                <div class="grp">
                    <div class="grp-title">
                        <h4>Polytechnic University of the Philippines</h4>
                    </div>
                    <div class="description">
                        Bachelor Degree, Computer Engineering (1998 - 2003)
                    </div>
                </div>

                <div class="separator"></div>

                <div class="grp">
                    <div class="grp-title">
                        <h4>Polytechnic University of the Philippines</h4>
                    </div>
                    <div class="description">
                        Bachelor Degree, Computer Engineering (1998 - 2003)
                    </div>
                </div>

            </section>

            <section id="work-exp" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-industry fa-2x"></i>
                <h3>Work Experiences</h3>
                <div class="grp">
                    <div class="grp-title">
                        <h4>Senior Asp.Net Developer</h4>
                    </div>
                    <div class="work-company">
                        CVCheck.com - Outsourced
                    </div>
                    <div class="work-dates">
                        Jan 2015 – Present | Makati , Philippines
                    </div>
                    <div class="description">
                        - Pioneer Programmer of CVCheck.biz in the Philippines
                        - Provide weekly reports to the management as part of project monitoring
                        - Participate in project enhancement, code maintenance and certifications
                        - Participate in framework collaboration and executions
                        - Mentoring other developers about standard implementations
                        - Monitoring project workflows and support bugs using Jira.
                        - Provide clients with excellent bug fixes
                        - Write code documentations
                        - Write unit Testing
                        - Supervising Front end developer
                        - Work From Home
                    </div>
                </div>

                <div class="separator"></div>

                <div class="grp">
                    <div class="grp-title">
                        <h4>Senior Asp.Net Developer</h4>
                    </div>
                    <div class="work-company">
                        CVCheck.com - Outsourced
                    </div>
                    <div class="work-dates">
                        Jan 2015 – Present | Makati , Philippines
                    </div>
                    <div class="description">
                        - Pioneer Programmer of CVCheck.biz in the Philippines
                        - Provide weekly reports to the management as part of project monitoring
                        - Participate in project enhancement, code maintenance and certifications
                        - Participate in framework collaboration and executions
                        - Mentoring other developers about standard implementations
                        - Monitoring project workflows and support bugs using Jira.
                        - Provide clients with excellent bug fixes
                        - Write code documentations
                        - Write unit Testing
                        - Supervising Front end developer
                        - Work From Home
                    </div>
                </div>
            </section>

            <section id="skills" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-briefcase fa-2x"></i>
                <h3>Skills</h3>
                <div class="grp">

                    <span class="skill">.net</span>
                    <span class="skill">mvc</span>
                    <span class="skill">mobile</span>
                    <span class="skill">.net</span>
                    <span class="skill">mvc</span>
                    <span class="skill">mobile</span>
                    <span class="skill">.net</span>
                    <span class="skill">mvc</span>
                    <span class="skill">mobile</span>

                </div>

            </section>

            <section id="contacts" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-file-text fa-2x"></i>
                <h3>Contact Information</h3>

                <div class="grp">
                    <div class="label-group">
                        <span class="caption">Email:</span>
                        <div class="wrapper">
                            <span class="description email">jaysword1@yahoo.com, jaysword1@gmail.com</span>
                        </div>
                    </div>

                    <div class="label-group">
                        <span class="caption">Address1:</span>
                        <div class="wrapper">
                            <span class="description">L1 B5 East Acropolis Phase II Brgy Dolores, Taytay, Rizal 1920 Philippines</span>
                        </div>
                    </div>

                    <div class="label-group">
                        <span class="caption">Address2:</span>
                        <div class="wrapper">
                            <span class="description">L1 B5 East Acropolis Phase II Brgy Dolores, Taytay, Rizal 1920 Philippines</span>
                        </div>
                    </div>

                    <div class="label-group">
                        <span class="caption">Mobile:</span>
                        <div class="wrapper">
                            <span class="description">+639277950178</span>
                        </div>
                    </div>

                    <div class="label-group">
                        <span class="caption">Home:</span>
                        <div class="wrapper">
                            <span class="description">0200320032</span>
                        </div>
                    </div>

                </div>
            </section>

            <section id="languages" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-globe fa-2x"></i>
                <h3>Languages</h3>
                <div class="grp">

                    <div class="label-group">
                        <span class="caption strong">English</span>
                        <div class="wrapper">
                            <span class="description">Conversational</span>
                        </div>
                    </div>

                    <div class="label-group">
                        <span class="caption strong">Japanese</span>
                        <div class="wrapper">
                            <span class="description">Basic</span>
                        </div>
                    </div>
                </div>

            </section>

            <section id="certifications" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-certificate fa-2x"></i>
                <h3>Certifications</h3>
                <div class="grp">

                    <div class="label-group">
                        <span class="caption strong">MCPD</span>
                        <div class="wrapper">
                            <span class="description cert-dates">2015 - 2016</span>
                        </div>
                    </div>
                    <div class="label-group">
                        <span class="caption strong">MCSD</span>
                        <div class="wrapper">
                            <span class="description cert-dates">2015 - 2016</span>
                        </div>
                    </div>

                </div>
            </section>

            <section id="interest" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-newspaper-o fa-2x"></i>
                <h3>Interests</h3>
                <div class="grp">
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                    <span class="inter">reading books</span>
                    <span class="inter">jogging</span>
                </div>

            </section>

            <section id="home-page" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-home fa-2x"></i>
                <h3>Personal Home Page or Blogs</h3>
                <a>jclitenet.com</a>
            </section>

            <section id="social-media-account" class="profile-box bottom-spacer round-corner">
                <i class="fa fa-link fa-2x"></i>
                <h3>Social Media Accounts</h3>
                <ul>
                    <li><a>facebook.com</a></li>
                    <li><a>linkedin.com</a></li>
                    <li><a>twitter.com</a></li>
                    <li><a>googleplus.com</a></li>
                </ul>
            </section>

        </div>

    </div>

</section>

<footer>
    <div class="container-fluid">
    </div>
</footer>